.head_main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 37, 37);
    width: 100%;
    float: left;
    color: white;
   
}

.news_text {
    background-color: rgb(43, 10, 10);
}

.text_main {
    display: flex;
    color: white;
}

.text_main li ::marker {
    color: yellow;
    
}